<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:targetApi="31">

        <activity
            android:name=".additional_files.LoadingScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_record_of_training"
            android:theme="@style/Theme.MyDiplom_try2.Fullscreen" />

        <activity
            android:name=".makingYourOwnTraining.MainRecordOfTraining"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_record_of_training"
            android:theme="@style/Theme.MyDiplom_try2.Fullscreen" />
        <activity
            android:name=".tabs.CreateWorkout"
            android:exported="false" />
        <activity
            android:name=".tabs.MainStatistics"
            android:exported="false" />
        <activity
            android:name=".tabs.Settings"
            android:exported="false" />
        <activity
            android:name=".tabs.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.StatisticsOfSquats"
            android:exported="false" />
        <activity
            android:name=".tabs.ExerciseSelectionMenu"
            android:exported="false" />
        <activity
            android:name=".tabs.ExerciseStartSquatsActivity"
            android:exported="false" />
        <activity
            android:name=".tabs.ActiveExerciseSquats"
            android:exported="false" />
    </application>

</manifest>